.header {
  margin: 71px 0 0;

  &__logo {
    width: 293px;
    height: 74px;
    margin-left: 20px;

    &:hover {
      @extend %transition-fast;
  
      filter: opacity(0.8);
    }
  }

  &__phone {
    @include font(700, 3.6rem, 4.4rem);

    padding-top: 12px;
    color: $color-primary;
    background-color: $color-background;
  }
}
