.promo {
  &__content{
    max-width: 510px;
    padding: 57px 0 176px 20px;
  }

  &__title_accent {
    color: $color-additional-accent;
  }

  &__span {
    display: inline-block;
    width: 38px;
    height: 8px;
    margin-top: 15px;
    background-color: $color-additional-accent;
  }

  &__subtitle {
    max-width: 400px;
    margin: 0 24px 47px 0;
  }

  &__media {
    position: absolute;
    z-index: 10;
    top: -53px;
    left: 569px;
    width: 685px;
    height: 685px;
    background: no-repeat center url('../assets/images/png/group.png');
  }

  &__image {
    position: absolute;
    top: 33px;
    left: -49px;
  }
}
