button {
  padding: 27px 46px;
  color: $color-light;
  font-weight: 700;
  font-size: 19.86px;
  line-height: 20px;
  background-color: $color-button;
  border: 1px solid $color-button;
  border-radius: 50px;

  &:hover {
    @extend %transition-slow;
  
    background-color: $color-button-hover;
    border: 1px solid $color-button-hover;
    cursor: pointer;
  }

  &:active {
    @extend %transition-fast;
  
    background-color: $color-accent;
    border: 1px solid $color-accent;
  }
}
