$color-background: #EDD2C0;
$color-primary: #5E4F47;
$color-additional-primary: #4D423C;
$color-accent: #6EA03F;
$color-additional-accent: #6BA539;
$color-second-accent: #7DCB39;
$color-button: #117AC9;
$color-button-hover: #46a2e7;
$color-tel: #464646;
$color-dark: #000000;
$color-light: #FFFFFF;

$content-width: 1233px;
$desktop-width: 1299px;
$tablet-width: 890px;
$mobile-big-width: 576px;
$mobile-small-width: 320px;
