@mixin font ($weight, $size, $height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin columns ($width: auto, $justify: space-between, $gap: normal) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  column-gap: $gap;

  >* {
    flex-basis: $width;
  }
}
