%transition-slow {
  transition: 0.4s ease-in-out;
}

%transition-fast {
  transition: 0.2s ease-in-out;
}

%font-prim {
  font-family: Montserrat, sans-serif;
}

%font-add {
  font-family: "Montserrat Alternates", sans-serif;
}

%font-add2 {
  font-family: Ubuntu, sans-serif;
}
